@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@200;300;400;500;700&family=IBM+Plex+Sans+Arabic&family=Montserrat+Alternates:ital,wght@0,200;0,300;0,500;0,700;1,500&display=swap");
:root {
  --textColor: #352f44; /*JUDUL TITLE*/
  --secondText: #5c5470; /*Untuk teks paragrap*/
  --warnaBorder: #b9b4c7;
  --warnaGaris: #201f1580;
  --bgPrimary: #f3eee8;
  --bgsecondary: #e5e2cf;
  --bgthird: #e7e3c3;
  --iconColor: #f94f00;
  --iconColorHOver: #943030;
  --abuabu: #767673;

  --paddingSection: 6rem 0;
  --radiusItemBorder: 0.7rem;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bgPrimary);
  font-family: "Montserrat Alternates", sans-serif;
  transition: 4s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--textColor);
}

p {
  font-size: 1rem; /*16 pixel*/
  line-height: 1.9rem;
}

p,
span,
label,
input,
textarea,
li {
  color: var(--secondText);
}
a {
  text-decoration: none;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 90%;
  }
}
/*  */

.btn {
  padding: 1rem 1.5rem;
  background: var(--bgPrimary);
  border: 1.5px solid var(--warnaBorder);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.048) 0px 2px 5px;
}

/* TITLES */
.section-title {
  margin: 1rem 0 4rem;
  font-size: 2rem;
}

.pre-title {
  font-family: "Handjet", cursive;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--secondText);
  position: relative;
  padding-left: 35px;
  width: fit-content;
  font-weight: 400px;
  font-size: 0, 9rem;
}

.pre-title::before {
  content: "";
  width: 25px;
  height: 1px;
  border-radius: 10px;
  background: var(--warnaGaris);
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
}

/* Layout */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

/* LOGO & Menu Navigasi */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2rem;
}

.logo img {
  vertical-align: middle;
  margin-right: 0.2rem;
}

.logo a {
  color: var(--textColor);
}
nav ul li {
  display: flex;
  align-items: center;
}
nav ul li a {
  color: var(--textColor);
}

/* Burger */

.burger div {
  width: 25px;
  height: 2px;
  background-color: var(--textColor);
  margin: 7px;
  transition: all 0.3s;
  z-index: 99;
}

.burger {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/* Hero Sectiom */
#hero {
  height: 720px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
}

.hero-name span {
  color: var(--iconColor);
}

.hero-right {
  display: flex;
  justify-content: center;
}
.hero-right img {
  width: 90%;
}

/* SERVICES SECTION */
#services {
  background-color: var(--bgsecondary);
  padding: var(--paddingSection);
}

.services .pre-title {
  margin: 0 auto;
}

.services-title {
  text-align: center;
}

.service {
  padding: 3rem 2rem;
  text-align: center;
  background-color: var(--bgPrimary);
  border-radius: var(--radiusItemBorder);
}

.service h4 {
  margin: 1.5rem 0;
  font-weight: 700;
  font-style: 1.05rem;
}

.service-icon {
  background-color: var(--bgthird);
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}

.service-icon svg {
  fill: var(--iconColor);
}

/* Portofolio Section */
#portofolios {
  padding: var(--paddingSection);
}

.portofolio {
  border-radius: var(--radiusItemBorder);
  border: 1px solid var(--warnaBorder);
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.portofolio:hover {
  box-shadow: 0px 2px 8px rgba(24, 24, 24, 0.492);
}

.portofolio-cover {
  height: 250px;
}

.portofolio-cover img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.portofolio-info {
  padding: 2rem 1.5rem;
}

.portofolio-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.portofolio h4 {
  font-weight: 500;
  font-size: 1.5rem;
}

.portofolio-title a svg:hover {
  fill: var(--iconColor);
}

.portofolio-title a svg {
  transition: 0.2s ease-in-out;
}

.portofolio-tags {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.portofolio-tags div {
  font-size: 0.9rem;
  border: 1px solid var(--warnaBorder);
  padding: 0.4rem 1rem;
  color: var(--abuabu);
  border-radius: 10px;
}

#skills {
  padding: var(--paddingSection);
  background-color: var(--bgsecondary);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.education {
  display: flex;
  gap: 2rem;
}

.education .line {
  padding: 0 0.7rem;
}

.education .line div {
  width: 2px;
  height: 100%;
  background-color: var(--secondText);
  position: relative;
}

.education-info p {
  margin: 0.6rem 0 1.4rem;
}

.education-years {
  margin-bottom: 3rem;
}

/* Garis pake div */
.education .line div::before {
  content: "";
  width: 15px;
  height: 15px;
  background: var(--secondText);
  border-radius: 50%;
  position: absolute;
  left: -6px;
}

.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
}

.skills-right ul {
  line-height: 2rem;
  padding: 0 1rem;
}

/* Contact Section */
#contact {
  padding: var(--paddingSection);
}

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 3rem;
}

.contact-form div {
  margin-bottom: 1.4rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem 1.3rem;
  font-family: "IBM Plex Sans Arabic", sans-serif;
  background: var(--bgsecondary);
  border: 1px solid var(--warnaBorder);
  border-radius: 5px;
  resize: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #867f7f91;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border: 1px solid var(--warnaBorder);
}

.btn-submit {
  width: 100%;
  padding: 0.75rem 1.3rem;
  background: #ff5100b1;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn-submit:hover {
  font-size: 0.9rem;
  background: #fe570aeb;
}
.contact-item {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.contact-item-icon {
  background-color: var(--bgthird);
  width: 53px;
  height: 53px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item-icon svg {
  fill: var(--iconColor);
}

.contact-item-detail h4 {
  margin-bottom: 0.6rem;
}

/* Footer */

footer {
  padding: 2rem 0;
  background: var(--bgsecondary);
  text-align: center;
}

.footer-icons {
  margin-bottom: 1rem;
}

.footer-icons a {
  margin: 0.5rem;
}

.footer-icons svg {
  fill: #252c24;
  transition: 0.3s ease-in-out;
}

.footer-icons a:hover svg {
  fill: #000;
}
